<?php
const CONFIG_ACCESS_TOKEN = 'your-access-token';

// Leave only one of the two lines below uncommented
const CONFIG_POSTBACK_URL = null;
// const CONFIG_POSTBACK_URL = 'http://your-public-host/postback-handler.php';
